//SETTINGS FOR QTG SASS FRAMEWORK
/* 
1. GRID SETTINGS
2. GRID AREA SETTINGS
*/

//1. GRID SETTINGS
$grid-columns:        12; // The number of vertical segments for the grid
$grid-gap:            .5em; // The space between the rows and columns
$image-fill:          true; // If set to true, background images will fill the qt-grid__wXX-divs
$dense-positioning:   true; // If set to true, the grid will attempt to fill all empty spaces

//2. GRID AREA SETTINGS
$grid-area-columns: 3; // The number of vertical segments for the grid
$sidebar: true; // If set to true, a sidebar to the right will be enabled