.qtg-button {
  display: block;
  border-radius: 100px;
  padding: 0.5em 1em;
  margin: 10px;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  transition: all 0.3s ease-in-out;
  &--default {
    background-color: $qtg-blue;
    color: white;
  }
  &--outline {
    border: 2px solid black;
    background-color: white;
  }
  &:hover {
    background-color: lighten($qtg-blue, 20%);
    color: white;
    border-color: transparent;
  }
}