$row-height: 90vh;
$row-height-mobile: 60vh;

.qt-grid {
  //IE FALLBACK start//
  display: flex;
  flex-flow: row wrap;
  //IE FALLBACK end//
  grid-template-columns: repeat(4, 25%);
  grid-auto-rows: minmax($row-height, auto);
  width: 100%;
  .box {
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
  }
  .box-link {
    transition: all 0.3s;
    border: 0px solid white;
    box-sizing: border-box;
    cursor: pointer;
    &:hover {
      border: 20px solid white;
    }
  }

  // QT-GRID BOXES //

  &__full {
    width: 100vw;
    height: $row-height;
    grid-column: span 4;
  }
  &__half {
    width: 50%;
    height: $row-height;
    grid-column: span 2;
  }
  &__quarter {
    width: 25%;
    height: $row-height;
    grid-column: span 1;
  }

  @include phone-only {
    grid-template-columns: repeat(1, 100%);
    .newsletter {
      grid-row: $row-height-mobile;
    }
    &__full {
      width: 100vw;
      height: $row-height;
      grid-column: span 1;
    }
    &__half {
      width: 50%;
      height: $row-height;
      grid-column: span 1;
    }
    &__quarter {
      width: 25%;
      height: $row-height;
      grid-column: span 1;
    }
  }

  @include tablet-portrait-only {
    grid-template-columns: repeat(2, 50%);
  }
}

// QT-GRID BOXES END //


// CUSTOM COLUMN SIZE SETTINGS //
.three-col {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 20vh;
  @include phone-only {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 20vh 20vh 20vh;
  }
}

// GRID ENABLED IF NOT IE//
@supports (display: grid) {
  .qt-grid {
    display: grid;
    .puff {
      width: auto;
      height: 100%;
    }
  }
  .qt-grid * {
    width: auto;
    height: auto;
  }
}