.qtg-cookie-bar {
  //display: none;
  //position: fixed;
  padding: 1em;
  width: 100%;
  z-index: 9999;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  .qtg-cookie-wrapper {
    &__text {
      padding: 0.5em 1em;
      margin: 10px;
    }
    &__buttons {
      display: flex;
      justify-content: center;
    }
  }

  @include desktop-up {
    .qtg-cookie-wrapper {
      display: flex;
      align-content: center;
      justify-content: space-between;
    }
  }
}
