
.qt-areas {
  display: grid;
  grid-gap: $grid-gap;
  grid-template-columns: repeat($grid-area-columns, 1fr);
  grid-template-rows: auto;

  //AREA SETTINGS
  @if $sidebar == true {
    grid-template-areas:
      "header header header"
      "content content sidebar"
      "footer footer footer";
    @include phone-only {
      grid-template-areas:
        "header header header"
        "content content content"
        "sidebar sidebar sidebar"
        "footer footer footer";
    }
  } @else {
    grid-template-areas:
      "header header header"
      "content content content"
      "footer footer footer";
      @include phone-only {
        grid-template-areas:
          "header header header"
          "content content content"
          "footer footer footer";
      }
  }

  &__header {
    grid-area: header;
  }
  &__content {
    grid-area: content;
  }
  &__sidebar {
    grid-area: sidebar;
  }
  &__footer {
    grid-area: footer;
  }
}
