/* QUALITY THINK SIMPLE CSS GRID */

.qt-grid {
  display: flex; // IE FALLBACK RULES
  flex-flow: row wrap; // IE FALLBACK RULES
  grid-template-columns: repeat($grid-columns, 1fr);
  @if $dense-positioning == true {
    grid-auto-flow: dense;
  }

  @for $i from 1 through $grid-columns {
    &__w#{$i} {
      grid-column: span $i;
      margin: $grid-gap;
      width: percentage($i / $grid-columns);

      //IMAGE FILL
      @if $image-fill == true {
        background-size: cover;
        background-position: center;
        box-sizing: border-box;
      }

      //RESPONSIVE SETTINGS
      @include phone-only {
        @if $i >= 8 {
          grid-column: span $grid-columns;
        } @else if $i >= 4 {
          grid-column: span $grid-columns / 2;
        } @else if $i <= 3 {
          grid-column: span $grid-columns / 4;
        } @else {
          grid-column: span 3;
        }
      }
      @include tablet-portrait-only {
        @if $i >= 8 {
          grid-column: span $grid-columns;
        } @else if $i >= 4 {
          grid-column: span $grid-columns / 2;
        } @else if $i <= 3 {
          grid-column: span $grid-columns / 4;
        } @else {
          grid-column: span $i;
        }
      }
    }
  }
}

// GRID ENABLED IF NOT IE//
@supports (display: grid) {
  .qt-grid {
    display: grid;
  }
  .qt-grid * {
    width: auto;
    height: auto;
  }
}