/* QUALITY THINK SIMPLE CSS GRID */

/* USAGE:

- Add grid 
.classname {
  @include qt-grid(int $grid-columns, bool $dense-positioning, bool $image-fill, prop $grid-gap);
}

- Add fallback rules after grid
@include qt-grid-ie-fallback(classname); 

- Markup
<div class="classname">
  <div class="classname__w12"></div> -- 12 columns wide
  <div class="classname__w6"></div> -- 6 columns wide
</div>
*/

//BREAKPOINTS
@mixin phone-only {
  @media (max-width: 600px) {
    @content;
  }
}
@mixin tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}
@mixin tablet-portrait-only {
  @media (min-width: 600px) and (max-width: 899px) {
    @content;
  }
}
@mixin tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}
@mixin tablet-landscape-only {
  @media (min-width: 900px) and (max-width: 1199px) {
    @content;
  }
}
@mixin desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin desktop-only {
  @media (min-width: 1200px) and (max-width: 1799px) {
    @content;
  }
}
@mixin big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}

//QT-GRID
@mixin qt-grid($grid-columns: 12, $dense-positioning: false, $image-fill: true, $grid-gap: 0, $square-mobile: false) {
  display: flex; // IE FALLBACK RULES
  flex-flow: row wrap; // IE FALLBACK RULES
  grid-template-columns: repeat($grid-columns, 1fr);
  @if $dense-positioning == true {
    grid-auto-flow: dense;
  }

  @for $i from 1 through $grid-columns {
    &__w#{$i} {
      grid-column: span $i;
      margin: $grid-gap;
      width: percentage($i / $grid-columns);

      //IMAGE FILL
      @if $image-fill == true {
        background-size: cover;
        background-position: center;
        box-sizing: border-box;
      }

      //RESPONSIVE SETTINGS
      @include phone-only {
        @if percentage($i / $grid-columns) >= 75% {
          grid-column: span $grid-columns;
          width: 100%;
        } @else if percentage($i / $grid-columns) >= 50% {
          grid-column: span $grid-columns / 2;
          width: 50%;
        } @else if percentage($i / $grid-columns) >= 25% {
          grid-column: span $grid-columns / 4;
          width: 25%;
        } @else {
          grid-column: span $grid-columns / 4;
          width: 25%;
        }
      }
      @if $square-mobile == true {
        @include phone-only {
          grid-column: span $grid-columns;
          width: 100%;
        }
      }
      @include tablet-portrait-only {
        @if percentage($i / $grid-columns) >= 75% {
          grid-column: span $grid-columns;
          width: 100%;
        } @else if percentage($i / $grid-columns) >= 50% {
          grid-column: span $grid-columns / 2;
          width: 50%;
        } @else if percentage($i / $grid-columns) >= 25% {
          grid-column: span $grid-columns / 4;
          width: 25%;
        } @else {
          grid-column: span $grid-columns / 4;
          width: 25%;
        }
      }
    }
  }
  //IE FALLBACK
  @supports (display: grid) {
    display: grid;
    * {
      width: auto;
      height: auto;
    }
  }
}

//BUTTON
@mixin qt-button($style: null, $animation: true) {
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.5em 1em;
  transition: 0.3s all;
  display: block;
  text-align: center;
  @if $style == round {
    border-radius: 100px;
  } @else if $style == semiround {
    border-radius: 8px;
  }
  @if $animation == true {
    &:active {
      transform: scale(0.95);
    }
  }
}

//BACKGROUND-HOVER-ANIMATION
@mixin qt-bg-slide-right($color1: gray, $color2: blue, $color3: red, $text1: white, $text2: white) {
  background: $color1;
  color: $text1;
  background-image: linear-gradient(to left, transparent, transparent 50%, $color2 50%, $color3);
  background-position: 100% 0;
  background-size: 200% 100%;
  transition: all 0.25s ease-in;
  &:hover {
    background-position: 0 0;
    color: $text2;
    border-color: transparent;
  }
}
// GRADIENTS
@mixin qt-gradient($direction: to right, $color1: red, $color2: blue) {
  background-image: linear-gradient($direction, $color1, $color2);
}
