/* 
VUETENBERG SASS MIXINS
NAMESPACE: VTB, kebab-case 

*/

//BUTTON
@mixin vtb-button($style: null, $animation: true) {
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.5em 1em;
  transition: 0.3s all;
  display: block;
  text-align: center;
  @if $style == round {
    border-radius: 100px;
  } @else if $style == semiround {
    border-radius: 8px;
  }
  @if $animation == true {
    &:active {
      transform: scale(0.95);
    }
  }
}

//BACKGROUND-HOVER-ANIMATION
@mixin vtb-bg-slide-right($color1: gray, $color2: blue, $color3: red, $text1: white, $text2: white) {
  background: $color1;
  color: $text1;
  background-image: linear-gradient(to left, transparent, transparent 50%, $color2 50%, $color3);
  background-position: 100% 0;
  background-size: 200% 100%;
  transition: all 0.25s ease-in;
  &:hover {
    background-position: 0 0;
    color: $text2;
    border-color: transparent;
  }
}
// GRADIENTS
@mixin vtb-gradient($direction: to right, $color1: red, $color2: blue) {
  background-image: linear-gradient($direction, $color1, $color2);
}

//VTB CARDS
@mixin vtb-card($border: true, $gradient: true, $primary-color: blue, $secondary-color: red) {
  @if $border == true {
    border: 2px solid $con-light-gray;
  }
  &__category {
    background-size: cover;
    background-position: center;
    .text {
      @if $gradient == true {
      @include vtb-gradient(to right, $primary-color, $secondary-color);
      } @else {
        background-color: $primary-color;
      }
      padding: 0.5em 1em;
      color: white;
      display: inline-block;
      margin: 0;
    }
  }
  &__image {
    width: 100%;
  }
  &__content {
    padding: 1em;
    .title,
    .subtitle {
      margin: 0.2em 0;
      padding: 0;
    }
    .subtitle {
      color: $primary-color;
    }
  }

  &__link-wrapper {
    display: flex;
    justify-content: space-between;
    .card-link {
      text-decoration: none;
      color: gray;
      transition: 0.25s all;
      &:hover {
        color: darken(gray, 15%);
      }
    }
    .read-more {
      display: flex;
      align-items: center;
      &::after {
        content: "";
        width: 0.4em;
        height: 0.4em;
        border-right: 2px solid gray;
        border-top: 2px solid gray;
        display: block;
        margin: 0 0.3em;
        transform: rotateZ(45deg);
      }
      &:hover {
        &::after {
          border-right: 2px solid darken(gray, 15%);
          border-top: 2px solid darken(gray, 15%);
        }
      }
    }
  }
}

.vtb-btn {
  @include vtb-button(null, true);
  @include vtb-bg-slide-right($con-red, white, white, white, $con-red);
  border: 5px solid $con-red;
  font-weight: bold;
  &:hover {
    border: 5px solid $con-red;
  }
}
.grid {
  @include qt-grid(12, true, true, 1em);
}

.content-grid {
  @include qt-grid(4, true, true, 1em);
  .box {
    align-self: start;
    border: 2px solid $con-light-gray;
    &__title {
      padding: 0.5em 2.5em 0.5em 1em;
      border-bottom-right-radius: 40px;
      background-color: $con-red;
      color: white;
      display: inline-block;
      h3 {
        padding: 0;
        margin: 0;
      }
    }
    &__text {
      h4 {
        padding: 1em 2em 0.5em 2em;
        color: $con-red;
        margin: 0;
      }
      p {
        padding: 0 2em 2em 2em;
      }
    }
  }
  .box-image {
    min-height: 270px;
    h1,
    h2,
    h3,
    h4,
    p {
      color: white;
      text-shadow: 0 0 5px black;
    }
    .image-subtitle {
      text-align: center;
      font-size: 2em;
      padding: 0;
      position: relative;
      bottom: -200px;
    }
  }
  .vtb-btn {
    position: relative;
    bottom: 0;
  }
}

.card {
  @include vtb-card(true, true, $con-light-blue, $con-pink);
}

.card-grid {
  @include qt-grid(3, false, false, 1em, true);
  width: 75%;
  margin: 0 auto;
}
